[gnu-config]
recipe = slapos.recipe.cmmi
shared = true
# Using GitHub mirror since Savannah snapshot URLs are broken (HTTP 400)
# Original URL: https://cgit.git.savannah.gnu.org/cgit/config.git/snapshot/config-00b15927496058d23e6258a28d8996f87cf1f191.tar.gz
url = https://github.com/arthenica/gnu-config/archive/a2287c3041a3f2a204eb942e09c015eab00dc7dd.tar.gz
md5sum = 3e3d21528f63da26e6408b1e0c009057
configure-command = :
make-targets =
make-binary = cp -r . @@LOCATION@@
